<h3>Product List:</h3>
<% @products.each do |product| %>
  <ul>
    <li><%= link_to product.name, product_path(product) %></li>
  </ul>
<% end %>
<footer class="footer">
  <hr>
  <%= link_to "Admin", new_product_path %>
</footer>
